.idea
jobs/micro/monit
jobs/micro/spec
jobs/micro/templates/
jobs/micro_aws/monit
jobs/micro_aws/spec
jobs/micro_aws/templates/
config/dev.yml
config/private.yml
releases/*.tgz
dev_releases
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
blobs
.blobs
src_alt
